.tactics-field {
    width: 500px;
    height: 375px;
    background-color: #32cd32;
    border: 2px solid black;
	background-image: url("../img/field.jpg");
}

.tactics-field-player {
    background: url("../img/tshirt.png") center;
    width: 48px;
    height: 48px;
}